* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;

background-image: url(https://th.bing.com/th/id/R.274d77a86be0980773bf9b0a4b5800a9?rik=lgP39Xgr2pLgdQ&riu=http%3a%2f%2fgetwallpapers.com%2fwallpaper%2ffull%2fb%2f8%2f1%2f489068.jpg&ehk=WwsItfEC3pz%2bNxtdjzhzfUKX6UeC95Vjgzf%2bwKV4wSE%3d&risl=&pid=ImgRaw&r=0);
}

.container{

text-indent: 110px;
  font-size: 150%;
 font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  display: grid;
color: lightblue;

 

  grid-template-rows: 100px 100px 600px;
  row-gap:  50px;
justify-content: first baseline;
}




h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

.subtitle{

display: grid;
row-gap: 50px;
grid-template-rows: 50px;
justify-content: end;
color: lightblue;


}

#i1{

font-size: large;

}

.i1{

  font-size: small;
color: black;
padding: 10px;



}

.MainHeader{

  text-indent: 50px;
  background-color: aqua;
  border:  solid;


}

.v1{

  border-left: 6px solid lightskyblue;
  height: 150px;
  position: absolute;
  left: 23%;
  margin-left: -3px;
  top: 120px;
  
}

.css-grid-pics {

--gap: 16px;
--num-cols: 4;
--row-height: 300px;

box-sizing: border-box;
padding: var(--gap);

display: grid;
grid-template-columns: repeat(var(--num-cols), 1fr);
grid-auto-rows: var(--row-height);
gap: var(--gap);

}

.css-grid-pics > img{

  width: 100%;
  height: 100%;
  object-fit: cover;


}

.css-grid-pics-col-2 {

grid-column: span 2;

}

.css-grid-pics-row-2{

grid-row: span 2;


}

@media screen and (max-width: 1024px){

.css-grid-pics{

--num-cols: 2;
--row-height:200px;



}



}

.nav {
 
  list-style-type: none;
  text-align: center;
  margin: 0;
  padding: 0;
}

.nav li {
  display: inline-block;
  font-size: 20px;
  padding: 20px;
}
  
.contacts {
  background-color: yellow; 
  list-style-type: none;
  text-align: center;
  margin: 0;
  padding: 0;

  background-color: aqua;
  border:  solid;

}

.contacts li {
  display: inline-block;
  font-size: 20px;
  padding: 20px;
}

.text-block {
  max-width: 100%;
  height: auto;
  
  position: absolute;
  bottom: 20px;
  right: 20px;
  background-color: black;
  color: white;
  padding-left: 20px;
  padding-right: 20px;

 

}

.img1{

 
 height: 160px;
 position: absolute;
 left: 23%;
 margin-left: -3px;
 top: 6px;

}